head
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(href="stylesheets/main.css", rel="stylesheet")
  link(href="http://s.mlcdn.co/animate.css", rel="stylesheet")
body.results-screen
  div.header
    div.container
      a(href="/").back
        img(src="images/back.svg")
      h1.header__title Restaurants under #{maxNum} AED
    
  div#results.container
    each filtered in result
      div.restaurant.clearfix.animated.fadeInUp
        div(style="display:inline-block")
          img(src='#{filtered.thumb}').thumb
          h4(style="margin-top:1rem; text-align:center")
            | #{filtered.cost_for_two}
            span(style="font-size:14px; color:#8a8a8a; margin-left:0.5rem;") AED
        div(style="display:inline-block").info
          div
            h4 #{filtered.name}
          div(style="display:inline-block").bubble
            img(src="images/star.svg")
            p #{filtered.rating}
          div(style="display:inline-block; margin-left:1rem").bubble
            img(src="images/pin.svg")
            p #{filtered.location}
          div.directions
            img(src="images/direction.svg")
            p get directions
