
{{#each filtered}}
<div class="restaurant clearfix animated fadeIn">
  <div style="display:inline-block">
    <img src='{{thumb}}' class="thumb"/>

  </div>

  <div style="display:inline-block" class="info">

    <div>
      <h4 class="h4">{{name}}</h1>
    </div>

    <div class="bubble">
      <img src="images/pin.svg">
      <p>{{location}}</p>
    </div>

    <div style="display:inline-block" class="bubble">
      <img src="images/star.svg"/>
      <p>{{rating}}</p>
    </div>

    <div style="display:inline-block;margin-left:1rem " class="bubble">
      <p>
        <span style="font-size:1.4rem; font-weight:400; margin-left:0.5rem; color:#777777;">AED</span> {{cost_for_two}}
      </p>
    </div>



    <!-- <div class="directions">
      <img src="images/direction.svg"/>
      <p>Get Directions</p>
    </div> -->

  </div> <!--info ends here-->

</div> <!--restaurant ends here-->
{{/each}}
